
html{
    font-size: 14px;
}

body{
    font-family: $font-ubuntu;
    font-weight: $font-weight-regular;
}

img{
    max-width: 100%;
}
h4{
    color: #464646;
    font-family: 'Helvetica Neue';
}
// Placeholder for image
main{
    margin-top: 150px;
}

.img-holder{
    position: relative;
    background: #ccc url('assets/logo-small.png') no-repeat center center;
    background-size: 80px auto;
    overflow:hidden;
    display:block;
    &:after{
        content: '';
        display: block;;
        width: 100%;
    }
    
    &.size-1by1{
        &:after{
            padding-top: 100%;
        }
    }
    &.size-4by3{
        &:after{
            padding-top: 75%;
        }
    }
    &.size-16by9{
        &:after{
            padding-top: 56.25%;
        }
    }
    
    img{
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
       
    }
}
.red-line:after{
    content: "";
    height: 3px;
    width: 57px;
    background-color: #E2322B;
    display: block;
    margin-top: 10px;
}
.red-line-tite{
    content: "";
    height: 3px;
    width: 57px;
    background-color: #E2322B;
    display: block;
    position: absolute;
    left:45%;
    top:20%;
}

.article-titles-space{
    height: 92px;
    width: 368px;
}
.green-quotation-marks:before{
    content: "";
    display: block;
    color:$green;
    height: 20px;
    width: 20px;
}
.box-style{
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 15px 14px -10px rgba(88,112,148,0.31);
    padding: 10px 18px;
    position: relative;
    height: 110px;
}
.box-style .fa{
    height: 19.05px;
    width: 23.25px;
    color: $green;
    font-weight: bold;
}

.box-style:after{
    content: "";
    display: block;
    position: absolute;
    top:100%;
    right:15px; 
    border:10px solid transparent;
    border-top: 10px solid white;
    height: 20px;
    width: 20px;
    background: radial-gradient(circle, #EFEFEF 0%, #FFFFFF 100%);
}
.box-style-articles{
    border-radius: 8px;	
    background-color: #FFFFFF;
    box-shadow: 0 15px 14px -10px rgba(88,112,148,0.31)
}
.separate-line:before{
    margin-top: 30px;
    width: 368px;
    height: 2px;
    content: "";
    background-color: #EBEBEB;
    display: block;
}
