

header{
    font-size: 16px;
    color:$gray-900;   
    border-bottom: 3px solid #EBEBEB;
    transition:0.5s linear;
    
    .navbar-brand{
        max-width: 150px;
        
    }
    .navbar-nav li{
        background: transparent;
        border-bottom: 4px solid transparent;
        transition: 0.8s linear;
    }
    .navbar-nav li:hover,
        .navbar-nav li:active{
            background: transparent;
            border-bottom: 4px solid red;
            transition: 0.8s linear;
        }
        
    
    .navbar-toggler{
        border: none;
        padding: 0.25rem !important;
        }
        
        .navbar-nav{
            .nav-link{
                text-align: center;
            }
        }
        h1{
            position: relative;
        }
        ul li{
            padding-left: 10px;
        }
        .header-active{
            background: rgba(0,0,0,0.5);
        }
    
}//Header end

@media(min-width:325px){
    header{
        .navbar-nav{
            .nav-link{
                
                font-weight: bold;
                text-align: center;
                
            }
        }
    }//header end
    
    
    
}//Media end


@media(min-width:992px){
    main{
        padding-top: 110px;
    }
    header{
       .navbar-brand{
        max-width: 240px;
        
    } 
    }
    
}