

header{
    font-size: 16px;
    color:$gray-900;   
    border-bottom: 3px solid #EBEBEB;
    
    .navbar-brand{
        max-width: 50%;
        
    }
    .navbar-nav li:hover,
        .navbar-nav li:active{
            background: transparent;
            border-bottom: 4px solid red;
            transition: 0.5s linear;
        }
        
    
    .navbar-toggler{
        border: none;
        }
        
        .navbar-nav{
            .nav-link{
                text-align: center;
            }
        }
        h1{
            position: relative;
        }
        
    
}//Header end

@media(min-width:325px){
    header{
        .navbar-nav{
            .nav-link{
                
                font-weight: bold;
                text-align: center;
                
            }
        }
    }//header end
    
    
    
}//Media end