
.kontakt{
    max-width:550px;
    margin:auto;
    
    input{
   height: 47px;
   border: 1px solid #DCD8D7;
   border-radius: 2px;
   
   
    }
    textarea{
        height: 163px;
        border: 1px solid #DCD8D7;
        border-radius: 2px;
       
    }
    input:focus,textarea:fokus{
        border:solid 3px $red;
    }
    input.btn{
        height: 47px;
        width: 221px;
        border-radius: 3px;
        background-color: #E2322B;
        color: white;
        
            
    }
}//section kontakt end
    
    

    
